<!DOCTYPE html>
<html lang="en">

<head>
  <title>Trình độ học vấn - {{tenTDHV[1]}} - {{tenTDHV[2]}} | {{congty[1]}}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Main CSS-->
  <link rel="stylesheet" href="{{ url_for('static', filename='doc/css/main.css') }}">
  <script src="{{url_for('static', filename='js/displaytime/displaytime.js')}}"></script>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename=congty[3])}}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- or -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <!-- Font-icon css-->
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
</head>

<body class="app sidebar-mini rtl">
  <!-- Navbar-->
  <header class="app-header">
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
      aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">


      <!-- User Menu-->
      <li><a class="app-nav__item" style="margin: 0 25px 0 0;" href=""><i class='bx bx-bell'></i> </a></li>
      <li><a class="app-nav__item" href="/logout"><i class='bx bx-log-out bx-rotate-180'></i> </a>

      </li>
    </ul>
  </header>
  <!-- Sidebar menu-->
  <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="{{ url_for('static', filename=my_user[7]) }}" style="border-radius: 50%;" width="50px"
        alt="User Image">
            <div>
                <p class="app-sidebar__user-name"><b>{{my_user[3]}}</b></p>
                <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
            </div>
        </div>
    <hr>
    <ul class="app-menu">
      <li><a class="app-menu__item haha"><i class='app-menu__icon bx bx-user'></i>
          <span class="app-menu__label">Quản lý</span></a></li>
      <li><a class="app-menu__item " href="/index"><i class='app-menu__icon bx bx-tachometer'></i><span
            class="app-menu__label">Bảng điều khiển</span></a></li>
      <li><a class="app-menu__item active" href="/table_data_employees"><i class='app-menu__icon bx bx-id-card'></i>
          <span class="app-menu__label">Quản lý nhân viên</span></a></li>
          <li><a class="app-menu__item" href="/table_chuc_vu"><i class='app-menu__icon bx bxs-book-content'></i>
            <span class="app-menu__label">Quản lý chức vụ</span></a></li>
      <li><a class="app-menu__item" href="/danh_sach_hop_dong"><i class='app-menu__icon bx bx-user-voice'></i><span
            class="app-menu__label">Danh sách hợp đồng</span></a></li>
      <li><a class="app-menu__item" href="/table-data-banned"><i class='app-menu__icon bx bx-run'></i><span
            class="app-menu__label">Quản lý nội bộ
          </span></a></li>
      <li><a class="app-menu__item" href="/table_data_money"><i class='app-menu__icon bx bx-dollar'></i><span
            class="app-menu__label">Bảng kê lương</span></a></li>
      <li><a class="app-menu__item" href="/page_calendar"><i class='app-menu__icon bx bx-calendar-check'></i><span
            class="app-menu__label">Lịch công tác </span></a></li>
      <li><a class="app-menu__item" href="/danh_sach_cham_cong"><i class='app-menu__icon bx bx-edit-alt'></i><span
            class="app-menu__label">Danh sách chấm công</span></a></li>
      <li><a class="app-menu__item" href="/view_all_thoi_gian_cong_tac"><i class='app-menu__icon bx bx-history'></i><span
        class="app-menu__label">Thời gian công tác</span></a></li>
    </ul>
  </aside>
  <main class="app-content">
    <div class="app-title">
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="/table_trinh_do_hoc_van">Danh sách trình độ học vấn</a></li>
        <li class="breadcrumb-item"><a href="/table_trinh_do_hoc_van/{{tenTDHV[0]}}">Xem trình độ học vấn - {{tenTDHV[1]}} - {{tenTDHV[2]}}</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="tile">

          <h3 class="tile-title">Trình độ học vấn - {{tenTDHV[1]}} - {{tenTDHV[2]}}</h3>
          <div class="tile-body">
            <div class="row element-button">

              <div class="col-sm-2">
                <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTableTDHVNV()"><i
                    class="fas fa-print"></i> In dữ liệu</a>
              </div>
              <div class="col-sm-2">
                <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép"><i
                    class="fas fa-copy"></i> Sao chép</a>
              </div>

              <div class="col-sm-2">
                <a class="btn btn-excel btn-sm" href="/get_table_trinh_do_hoc_van_nhan_vien_excel/{{tenTDHV[0]}}" title="Xuất Excel"><i
                     class="fas fa-file-excel"></i> Xuất Excel</a>
              </div>
              <div class="col-sm-2">
                <a class="btn btn-delete btn-sm pdf-file" type="button" title="In" href="/get_table_trinh_do_hoc_van_nhan_vien_pdf/{{tenTDHV[0]}}"><i
                    class="fas fa-file-pdf"></i> Xuất PDF</a>
              </div>
            </div>

            <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
              id="sampleTable">
              <thead>
                <tr>
                  <th width="100">Mã Nhân viên</th>
                  <th width="200">Tên nhân viên</th>
                  <th width="100">Ngày sinh</th>
                  <th width="100">Số điện thoại</th>
                  <th width="200">Loại trình độ học vấn</th>
                  <th width="400">Chuyên ngành</th>
                </tr>
              </thead>
              <tbody>
                {% for data in trinhdohocvan %}
                <tr>
                  <td>{{data[0]}}</td>
                  <td>{{data[1]}}</td>
                  <td>{{data[2]}}</td>
                  <td>{{data[3]}}</td>
                  <td>{{data[4]}}</td>
                  <td>{{data[5]}}</td>
                {% endfor %}
              </tbody>
            </table>

  </main>
  <!-- Essential javascripts for application to work-->
  <script src="{{url_for('static', filename='doc/js/jquery-3.2.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='doc/js/popper.min.js')}}"></script>
  <script src="{{url_for('static', filename='doc/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='doc/js/main.js')}}"></script>
  <!-- The javascript plugin to display page loading on top-->
  <script src="{{url_for('static', filename='doc/js/plugins/pace.min.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <!-- Data table plugin-->
  <!-- <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script> -->
  <script src="{{url_for('static', filename='doc/js/plugins/jquery.dataTables.min.js')}}"></script>
  <!-- <script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script> -->
  <script src="{{url_for('static', filename='doc/js/plugins/dataTables.bootstrap.min.js')}}"></script>
  <script type="text/javascript">$('#sampleTable').DataTable();</script>
  <script>
    //In dữ liệu
    var myApp = new function () {
      this.printTableTDHVNV = function () {
        var win = window.open('/table_print_trinh_do_hoc_van_nhan_vien/{{tenTDHV[0]}}', '', 'height=700,width=1400');
        win.document.close();
        win.print();
      }
    }
    
    //Sao chép dữ liệu
    var copyTDHVNVareaBtn = document.querySelector('.js-textareacopybtn');

    copyTDHVNVareaBtn.addEventListener('click', function (event) {
      var copyTextarea = document.querySelector('.js-copytextarea');
      copyTextarea.focus();

      var mytext = copyTextarea.textContent.substring(167,copyTextarea.textContent.length).split("\n")

      var index = 0;
      var data = [];
      mytext.forEach(function (text) {
        if (text.trim().length != 0) {
            data.push(text.trim());
            index += 1;
            if (index == 6) {
              data.push("\n")
              index = 0;
            }
        }
      });

      navigator.clipboard.writeText(data.join(" "));

      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
        console.log('Copying text command was ' + msg);
      } catch (err) {
        console.log('Oops, unable to copy');
      }
    });
  </script>
</body>

</html>