<head>
<link rel="stylesheet" href="{{ url_for('static', filename='doc/css/main.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<!-- or -->
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

<!-- Font-icon css-->
<link rel="stylesheet" type="text/css"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

<!-- Chấm công -->
<link rel="stylesheet" href="{{ url_for('static', filename='doc/css/chamcong.css') }}">
 <!-- Data table plugin-->
  <!-- <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script> -->
  <script src="{{url_for('static', filename='doc/js/plugins/jquery.dataTables.min.js')}}"></script>
  <!-- <script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script> -->
  <script src="{{url_for('static', filename='doc/js/plugins/dataTables.bootstrap.min.js')}}"></script>
  <script type="text/javascript">$('#sampleTable').DataTable();</script>
</head>
<body>

<table class="table table-hover table-bordered js-copytextarea" id="sampleTable">
    <thead>
      <tr>
        <th class="center-text" rowspan="2" style="background-color: #eee">Mã nhân viên</th>
        <th colspan="12" style="text-align: center; background-color: #eee">Tháng</th>
      </tr>
      <tr>
        <th class="center" width="50">1</th>
        <th class="center" width="50">2</th>
        <th class="center" width="50">3</th>
        <th class="center" width="50">4</th>
        <th class="center" width="50">5</th>
        <th class="center" width="50">6</th>
        <th class="center" width="50">7</th>
        <th class="center" width="50">8</th>
        <th class="center" width="50">9</th>
        <th class="center" width="50">10</th>
        <th class="center" width="50">11</th>
        <th class="center" width="50">12</th>
      </tr>
    </thead>
    <tbody>
      {% for data in chamcongtheocacthang %}
      <tr>
        <td class="center">{{data[1]}}</td>

        {% if data[3] <= -1 %}
          <td class="text"><span class="text--error" disabled>-</span></td>
        {% elif data[3] < mucPhanLoaiChamCong[0] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_1" class="text--error">{{data[3]}}</a></td>
        {% elif data[3] >= mucPhanLoaiChamCong[0] and data[3] <= mucPhanLoaiChamCong[1] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_1" class="text--warning">{{data[3]}}</a></td>
        {% else %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_1" class="text--sucess">{{data[3]}}</a></td>
        {% endif %}

        {% if data[4] <= -1 %}
          <td class="text"><span class="text--error" disabled>-</span></td>
        {% elif data[4] < mucPhanLoaiChamCong[0] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_2" class="text--error">{{data[4]}}</a></td>
        {% elif data[4] >= mucPhanLoaiChamCong[0] and data[4] <= mucPhanLoaiChamCong[1] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_2" class="text--warning">{{data[4]}}</a></td>
        {% else %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_2" class="text--sucess">{{data[4]}}</a></td>
        {% endif %}

        {% if data[5] <= -1 %}
          <td class="text"><span class="text--error" disabled>-</span></td>
        {% elif data[5] < mucPhanLoaiChamCong[0] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_3" class="text--error">{{data[5]}}</a></td>
        {% elif data[5] >= mucPhanLoaiChamCong[0] and data[5] <= mucPhanLoaiChamCong[1] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_3" class="text--warning">{{data[5]}}</a></td>
        {% else %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_3" class="text--sucess">{{data[5]}}</a></td>
        {% endif %}

        {% if data[6] <= -1 %}
          <td class="text"><span class="text--error" disabled>-</span></td>
        {% elif data[6] < mucPhanLoaiChamCong[0] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_4" class="text--error">{{data[6]}}</a></td>
        {% elif data[6] >= mucPhanLoaiChamCong[0] and data[6] <= mucPhanLoaiChamCong[1] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_4" class="text--warning">{{data[6]}}</a></td>
        {% else %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_4" class="text--sucess">{{data[6]}}</a></td>
        {% endif %}

        {% if data[7] <= -1 %}
          <td class="text"><span class="text--error" disabled>-</span></td>
        {% elif data[7] < mucPhanLoaiChamCong[0] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_5" class="text--error">{{data[7]}}</a></td>
        {% elif data[7] >= mucPhanLoaiChamCong[0] and data[7] <= mucPhanLoaiChamCong[1] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_5" class="text--warning">{{data[7]}}</a></td>
        {% else %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_5" class="text--sucess">{{data[7]}}</a></td>
        {% endif %}

        {% if data[8] <= -1 %}
          <td class="text"><span class="text--error" disabled>-</span></td>
        {% elif data[8] < mucPhanLoaiChamCong[0] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_6" class="text--error">{{data[8]}}</a></td>
        {% elif data[8] >= mucPhanLoaiChamCong[0] and data[8] <= mucPhanLoaiChamCong[1] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_6" class="text--warning">{{data[8]}}</a></td>
        {% else %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_6" class="text--sucess">{{data[8]}}</a></td>
        {% endif %}

        {% if data[9] <= -1 %}
          <td class="text"><span class="text--error" disabled>-</span></td>
        {% elif data[9] < mucPhanLoaiChamCong[0] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_7" class="text--error">{{data[9]}}</a></td>
        {% elif data[9] >= mucPhanLoaiChamCong[0] and data[9] <= mucPhanLoaiChamCong[1] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_7" class="text--warning">{{data[9]}}</a></td>
        {% else %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_7" class="text--sucess">{{data[9]}}</a></td>
        {% endif %}

        {% if data[10] <= -1 %}
          <td class="text"><span class="text--error" disabled>-</span></td>
        {% elif data[10] < mucPhanLoaiChamCong[0] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_8" class="text--error">{{data[10]}}</a></td>
        {% elif data[10] >= mucPhanLoaiChamCong[0] and data[10] <= mucPhanLoaiChamCong[1] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_8" class="text--warning">{{data[10]}}</a></td>
        {% else %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_8" class="text--sucess">{{data[10]}}</a></td>
        {% endif %}

        {% if data[11] <= -1 %}
          <td class="text"><span class="text--error" disabled>-</span></td>
        {% elif data[11] < mucPhanLoaiChamCong[0] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_9" class="text--error">{{data[11]}}</a></td>
        {% elif data[11] >= mucPhanLoaiChamCong[0] and data[11] <= mucPhanLoaiChamCong[1] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_9" class="text--warning">{{data[11]}}</a></td>
        {% else %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_9" class="text--sucess">{{data[11]}}</a></td>
        {% endif %}

        {% if data[12] <= -1 %}
          <td class="text"><span class="text--error" disabled>-</span></td>
        {% elif data[12] < mucPhanLoaiChamCong[0] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_10" class="text--error">{{data[12]}}</a></td>
        {% elif data[12] >= mucPhanLoaiChamCong[0] and data[12] <= mucPhanLoaiChamCong[1] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_10" class="text--warning">{{data[12]}}</a></td>
        {% else %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_10" class="text--sucess">{{data[12]}}</a></td>
        {% endif %}

        {% if data[13] <= -1 %}
          <td class="text"><span class="text--error" disabled>-</span></td>
        {% elif data[13] < mucPhanLoaiChamCong[0] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_11" class="text--error">{{data[13]}}</a></td>
        {% elif data[13] >= mucPhanLoaiChamCong[0] and data[13] <= mucPhanLoaiChamCong[1] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_11" class="text--warning">{{data[13]}}</a></td>
        {% else %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_11" class="text--sucess">{{data[13]}}</a></td>
        {% endif %}

        {% if data[14] <= -1 %}
          <td class="text"><span class="text--error" disabled>-</span></td>
        {% elif data[14] < mucPhanLoaiChamCong[0] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_12" class="text--error">{{data[14]}}</a></td>
        {% elif data[14] >= mucPhanLoaiChamCong[0] and data[14] <= mucPhanLoaiChamCong[1] %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_12" class="text--warning">{{data[14]}}</a></td>
        {% else %}
          <td class="text"><a href="/table_cham_cong_ngay_trong_thang/{{data[1]}}_{{Nam}}_12" class="text--sucess">{{data[14]}}</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>