<link rel="stylesheet" href="{{ url_for('static', filename='doc/css/main.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<!-- or -->
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

<!-- Font-icon css-->
<link rel="stylesheet" type="text/css"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

<!-- Chấm công -->
<link rel="stylesheet" href="{{ url_for('static', filename='doc/css/chamcong.css') }}">
 <!-- Data table plugin-->
  <!-- <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script> -->
  <script src="{{url_for('static', filename='doc/js/plugins/jquery.dataTables.min.js')}}"></script>
  <!-- <script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script> -->
  <script src="{{url_for('static', filename='doc/js/plugins/dataTables.bootstrap.min.js')}}"></script>
  <script type="text/javascript">$('#sampleTable').DataTable();</script>
  <p> Tên nhân viên: {{TenNV}}  |  Mã nhân viên : {{maNV}}  |  Tháng : {{month}}  |  Năm : {{year}}</p>
<table class="table table-hover table-bordered" id="sampleTable">
    <thead>
      <tr>
        <th class="center-text" rowspan="2" style="background-color: #eee">Ngày</th>
        <th colspan="2" style="text-align: center; background-color: #eee">Thông tin</th>
      </tr>
      <tr>
        <th class="center" width="50">Trạng thái</th>
        <th class="center" width="1000">Giờ</th>
      </tr>
    </thead>
    <tbody>
      {% for i in index_arr %}
      <tr>
        <td class="center"> {{date_weekday[i]}} <br> {{date_str[i]}} </td>

        {% if data_day_tong_ket[i] >= 6 %}
        <td class="icon icon--sucess" title="Tổng thời gian làm việc trong ngày: {{data_day_tong_ket[i]}}"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
        {% elif data_day_tong_ket[i] >= 4 and data_day_tong_ket[i] < 6 %}
        <td class="icon icon--warning" title="Tổng thời gian làm việc trong ngày: {{data_day_tong_ket[i]}}"><i class="fa fa-minus-circle" aria-hidden="true"></i></td>
        {% else %}
        <td class="icon icon--error" title="Tổng thời gian làm việc trong ngày: {{data_day_tong_ket[i]}}"><i class="fa fa-times-circle" aria-hidden="true"></i></td>
        {% endif %}

        <td class="center">
          
          {% for elm in time_arr_str[i] %}
          <strong>Bắt đầu:</strong> <span class="text-info">{{elm[0]}}</span>  <strong>-- đến -- ></strong> <span class="text-info">{{elm[1]}}</span> <br>
          {% endfor %}

        </td>
      </td>
      </tr>
      {% endfor %}
    </tbody>
