<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> Waiting</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo'>
<link rel="stylesheet" href="{{ url_for('static', filename='doc/css/error.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<section class="page_404">
	<div class="container">
		<div class="row">	
		<div class="col-sm-12 ">
		<div class="col-sm-10 col-sm-offset-1  text-center">
		<div class="four_zero_four_bg">
			<!-- <h1 class="text-center ">404</h1> -->
		
		
		</div>
		
		<div class="contant_box_404">
		<h3 class="h2">
            Looks like you're waiting for the K-Means presentation
		</h3>
		
		<p>The presentation will start soon</p>
		
		<a href="https://docs.google.com/presentation/d/1fDgAMm7Z57TIWSgz9E3NeqaFOTAQkmdX/edit#slide=id.p2" class="link_404">Go to Presentation</a>
	</div>
		</div>
		</div>
		</div>
	</div>
</section>
<!-- partial -->  
</body>
</html>
